
<section id="about_us" >
    <div class="container">
      <div class="row ">
        <div class="col-sm-4 mt-3 text-center">
          <div class="card shadow-sm  " >
            <img src="assets/img/section-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">First title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4  mt-3 text-center">
          <div class="card shadow-sm" >
            <img src="assets/img/section-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Second title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mt-3 text-center">
          <div class="card shadow-sm" >
            <img src="assets/img/section-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Third title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
